<tui-tile tuiTileHandle class="tile" [style.order]="0">
  <div class="content">
    <span>Малина</span>
    <div class="buttons">
      <button
        tuiButton
        type="button"
        appearance="flat"
        size="s"
        class="tui-form__button"
      >
        Редактировать
      </button>
      <button
        tuiButton
        type="button"
        appearance="flat"
        size="s"
        class="tui-form__button"
      >
        Сбросить
      </button>
    </div>
  </div>
</tui-tile>
